#card {
    align-content: center;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    user-select: none;
}

.black {
    color: black;
}

.red {
    color: red;
}

/* CSS adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/repeating-linear-gradient#examples. */
.back {
    background-image: repeating-linear-gradient(
    -45deg,
    red,
    red 20px,
    black 20px,
    black 40px
  );
  /* with multiple color stop lengths */
  background-image: repeating-linear-gradient(
    -45deg,
    red 0 20px,
    black 20px 40px
  );
}
