#card {
    align-content: center;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    user-select: none;
}

.black {
    color: black;
}

.red {
    color: red;
}

.half {
  /* with multiple color stop lengths */
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255,0,0,0.25) 0 10px,
    rgba(0,0,0,0.25) 10px 20px
  );
}

/* CSS adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/repeating-linear-gradient#examples. */
.back {
  /* with multiple color stop lengths */
  background-image: repeating-linear-gradient(
    -45deg,
    red 0 10px,
    black 10px 20px
  );
}
